---
/** Data */
import { Links } from '~data/links'

const isActivePage = (path: string): boolean => {
    return path === Astro.url.pathname
}
---

<div id="navbar">
    <nav>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 300 300"
            fill="white"
            ><path
                d="M150.43026,38.6335l58.05789,86.20939L150,102.58786L44.24684,261.3665h-43.81658l150-222.733Zm149.13948,222.733h-43.81658L165.90379,131.19485l42.58437,14.33889L299.56974,261.3665Zm-238.88975,0l21.853096-32.805355h152.679513L257.799827,261.3665h-197.119837Z"
                transform="translate(0-.543765)"
                fill="#fff"
                stroke-width="0"></path></svg
        >

        <ul>
            {
                Links.map((item) => (
                    <li class={isActivePage(item.href) ? 'active' : ''}>
                        <a href={item.href}>{item.text}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>

<style lang="scss">
    div#navbar {
        width: 100%;
        padding: 20px 0;

        nav {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                height: 45px;
                width: 45px;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 24px;

                font-size: 16px;
                list-style: none;

                li {
                    a {
                        font-family: var(--mono-font);
                        color: white;
                        font-weight: 200;
                        text-decoration: none;
                    }

                    &.active {
                        border-bottom: 1px solid #a9a4ff;
                    }

                    &:active {
                        scale: 0.95;
                    }
                }
            }
        }
    }
</style>
