---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Hello World!</h1>
		<p>This is a paragraph.</p>
    </main>
</Layout>

<style lang="scss">
    main {
        h1 {
            font-size: 2em;
        }
    }
</style>
