---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {
    href?: string
    onClick?: () => void
}

const { href, onClick, ...rest } = Astro.props
---

{
    href && (
        <a href={href} {...rest}>
            <button>
                <slot />
            </button>
        </a>
    )
}
{
    onClick && (
        <button {...rest}>
            <slot />
        </button>
    )
}

<style lang="scss" scoped>
    a {
        text-decoration: none;
    }

    button {
        padding: 12px 25px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        color: #4c4975;
        font-size: 14px;
        font-weight: 700;

        background-color: white;
        border-radius: 99em;
        border: 1px solid white;

        transition: background-color 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #ffffff20;
        }

        &:active {
            scale: 0.95;
        }
    }
</style>
